.product-name {
    font-size: clamp(0px, 1vw, 1.25rem);
}

.motion {
    height: 80%;
    min-height: 80%;
    max-height: 80%;
    background: rgb(223, 222, 217);
    background: linear-gradient(360deg, rgba(203, 202, 197, 1) 65%, rgba(223, 222, 217, 1) 65%);
}

.container-card {
    min-height: 100%;
}