.product-name {
    font-size: clamp(0px, 1vw, 1.25rem);
}

.motion {
    height: 60%;
}

.container-card {
    min-height: clamp(0px, 40vh, 500px);
    scale: 1.5;
}

@media screen and (orientation: portrait) {
    .motion {
        height: 50%;
    }

    .container-card {
        min-height: clamp(0px, 10vh, 300px);
    }
}