.title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: clamp(0px, 2vw, 3rem);
}

.sub-title {
    font-size: clamp(0px, 1.5vw, 2.5rem);
}

.explain {
    font-size: clamp(0px, .75vw, 1.15rem);
}

/* .about {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    justify-items: start;
} */