@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  outline: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #DFDED9;
  width: 100dvw;
  height: 100dvh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
textarea,
input {
  font-family: "Karla", sans-serif;
  outline: none;
  resize: none;
}


@media screen and (min-width: 2500px) {
  body {
    padding-inline: calc(100vw - 2500px);
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}